/* color pallet #F6F0F1, #F3D7EC, #E2B7E6, #B390DA, #A58F9C, #F1DEC8  */

* {
    margin: auto 0;
}

/* navbar */

.navbar {
    position: static;
    text-align: center;
    background-color: #E2B7E6;
}

ul {
    list-style-type: none;
    margin: 12px;
    padding: 12px;
    overflow: hidden;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    padding: 18px;
    color: #000;
}

li a:hover {
    background-color: #A58F9C;
}

/* title */

.title {
    background-color: #E2B7E6;
    color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    text-align: left;
    /* border: #B390DA 1px solid; */
}

span {
    /* left: 25%;
    top: 50%;
    width: 50%; */
    padding: 18px;
    text-align: left;
    display: inline-block;
}

/* header photo */

header {
    position: relative;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

/* animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

